@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

:root {
    --darkblue: #2B4162;
    --mediumblue: #5AA9E6;
    --lightblue: #7FC8F8;
    --lightgreen: #C5EFCB;
    --tangreen: #EDF7D2;
}

body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
}

.navbar {
    position: relative;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--darkblue);
    font-size: 1.7em;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
}

.navbar  li a:hover {
    background-color: var(--lightgreen);
    color: var(--darkblue);
}

.navbar-centered {
    margin: auto;
    float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
    text-align: center;
    font-size: 4em;
}

.title-logo {
    color: white;
    font-size: 2em;
    padding: 0.2em;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
h1 {
    font-size: 4em;
}

img, button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button {
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-image: linear-gradient(120deg, blue, green);
    background-image: linear-gradient(120deg, rgb(0, 238, 255), rgb(230, 96, 96));

    transition: transform 0.7s ease-in-out;
}
button:hover {
    transform: rotate(360deg);
}